// Base
$black: #020202;
$white: #f9f9f9;
$gray-100: #a5a5a5;
$gray-300: #252525;
$gray-500: #222222;
$gray-700: #1e1e1e;
$red: #ed5138;
$yellow: #ddd118;
$green: #24a731;
$blue: #0f79dc;
$purple: #c532d4;
$pink: #e74c7d;

$primary: $red;

// Text
$text-primary: $white;
$text-secondary: $gray-100;

// Background
$bg-primary: $gray-500;
$bg-secondary: $gray-300;
$bg-black: $black;
