.workspace {
    column-gap: 12px;
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: repeat(2, 16px);
    padding: 0 32px;
    row-gap: 4px;
}

.logo {
    align-self: center;
    border-radius: 8px;
    grid-row: span 2;
    height: 32px;
    width: 32px;
}

.namespace {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
}

.typespace {
    color: #a5a5a5;
    font-size: 8px;
    line-height: 16px;
    white-space: nowrap;
}

.button {
    align-self: center;
    fill: #a5a5a5;
    grid-row: span 2;
    height: 20px;
    width: 20px;
}